<!-- 电影详情开始 -->
<div class="detail">
  <h1 ng-bind="details.title"></h1>
  <div class="dt-info">
    <div class="dti-i"><img ng-src="{{details.images.large}}" alt=""></div>
    <div class="dti-w">
      <p>
        <strong>导演：</strong>
        <span ng-repeat="dir in details.directors track by $index">
            {{$last ? dir.name: dir.name + '、'}}
        </span>
      </p>
      <p>
        <strong>主演：</strong>
        <span ng-repeat="cast in details.casts track by $index">
            {{ $last ? cast.name : cast.name + '、'}}
        </span>
      </p>
      <p><strong>类型：</strong>{{ details.genres.join('、') }}</p>
      <p><strong>国家：</strong>{{ details.countries.join('、')}}</p>
      <p><strong>评分：</strong>{{ details.rating.average }}</p>
      <p><strong>时间：</strong>{{ details.year }}</p>
      <p><strong>又名：</strong>{{ details.aka.join('、')}}</p>
    </div>
  </div>
  <h3>剧情简介:</h3>
  <p style="color:#676767" ng-bind="details.summary"></p>
</div>
<!-- 电影详情结束 -->

<!-- 加载动画 -->
<div class="loading-mask" ng-show="isShow">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
</div>