@media (-webkit-min-device-pixel-ratio: 1.5),(min-device-pixel-ratio: 1.5){
  .border-1px::before{
    transform: scaleY(0.7);
  }   
}

@media (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2){
  .border-1px::before{
    transform: scaleY(0.5);
  }   
}

@media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3){
  .border-1px::before{
    transform: scaleY(0.333);
  }   
}


